<div class="home">
    <div class="home-text">
    <p>Кулыгина Ольга Викторовна</p><br>
    <p>МБОУ Гимназия №2 г. Саров Нижегородская область</p><br>
    <p>На страницах сайта Вы найдете:</p><br>
    <ul class="home-list">
        <li><a routerLink="/materials"><i>Материалы к урокам и внеклассным мероприятиям</i></a></li>
        <li><a routerLink="/materials"><i>Олимпиадные и конкурсные задания</i></a></li>
        <li><a routerLink="/parents"><i>Информацию для родителей моих учеников</i></a></li>
        <li><a routerLink="/materials"><i>Фотоальбомы о наших событиях</i></a></li>
    </ul><br>
    <button mat-raised-button color="primary" routerLink="/feedback">Обратная связь</button><br>
    </div>
</div>

