.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../../../assets/image/math.jpg) repeat-y;
}

.home-text {
    font-size: large;
    margin: 10px ;
    color: white;
    text-align: center;
}

.home-list {
    text-align: start;
}

@media screen and (min-width: 481px) {
    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 64px);
        background: url(../../../assets/image/math.jpg) repeat-y;
        height: 100vh;
    }

    .home-text {
        font-size: xx-large;
        margin: 10px ;
        color: white;
        text-align: center;
    }
}
