<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav
        #drawer
        class="sidenav"
        fixedInViewport="true"
        (click)="toggleSidenav(sidenav)"
        [attr.role]="shared.isMobile() ? 'dialog' : 'navigation'"
        [mode]="shared.isMobile() ? 'over' : 'side'"
        [opened]="!shared.isMobile()">
        <mat-toolbar color="primary">Меню</mat-toolbar>
        <mat-nav-list class="menu">
            <div class="user-name">
                <span *ngIf="shared.isMobile() && shared.isUserLogin()">Вы вошли как: {{showUserInfo()}}</span>
            </div>
            <div>
                <a mat-list-item routerLink="/home">Главная</a>
                <a mat-list-item routerLink="/portfolio">Портфолио</a>
                <a class="disabled" mat-list-item>Ученикам</a>
                <a class="disabled" mat-list-item>Родителям</a>
                <a class="disabled" mat-list-item>Материалы</a>
                <a *ngIf="shared.isUserLogin()"mat-list-item routerLink="/upload">Загрузка</a>
                <a *ngIf="shared.isMobile() && shared.isUserLogin()" mat-list-item routerLink="/settings">Настройки</a>
                <a *ngIf="shared.isMobile() && shared.isUserLogin()" mat-list-item (click)="logout()">Выход</a>
                <mat-accordion *ngIf="shared.isMobile()">
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Темы
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <button [ngStyle]="{'background-color':isSelected('deeppurple-amber') ? 'red' : '' }" mat-menu-item (click)="onSetTheme('deeppurple-amber')">deeppurple-amber</button>
                        <button [ngStyle]="{'background-color':isSelected('indigo-pink') ? 'red' : '' }"mat-menu-item (click)="onSetTheme('indigo-pink')">indigo-pink</button>
                        <button [ngStyle]="{'background-color':isSelected('pink-bluegrey') ? 'red' : '' }"mat-menu-item (click)="onSetTheme('pink-bluegrey')">pink-bluegrey</button>
                        <button [ngStyle]="{'background-color':isSelected('purple-green') ? 'red' : '' }"mat-menu-item (click)="onSetTheme('purple-green')">purple-green</button>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="header-control-panel">
            <div class="header-control-menu-panel">
                <button
                        (click)="drawer.toggle()"
                        *ngIf="shared.isMobile()"
                        aria-label="Toggle sidenav"
                        mat-icon-button
                        type="button">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                 <div *ngIf="!shared.isMobile() && shared.isUserLogin()" class="header-panel-el">Вы вошли как: {{showUserInfo()}}</div>
                <button *ngIf="!shared.isMobile() && shared.isUserLogin()" class="header-panel-el" routerLink="/settings" mat-raised-button color="link">Настройки</button>
                <button  *ngIf="!shared.isMobile() && shared.isUserLogin()" class="header-panel-el" mat-raised-button color="warn" (click)="logout()">Выход</button>
            </div>
            <div class="header-control-label-panel">
                <button mat-button [matMenuTriggerFor]="menu">Панель управления</button>
                <mat-menu #menu="matMenu">
                    <button *ngIf="!shared.isUserLogin() "mat-menu-item (click)="openLoginPopup()">Вход</button>
                    <button *ngIf="!shared.isMobile()" mat-menu-item [matMenuTriggerFor]="themes">Темы</button>
                </mat-menu>
                <mat-menu #themes="matMenu">
                    <button mat-menu-item (click)="onSetTheme('deeppurple-amber')">deeppurple-amber</button>
                    <button mat-menu-item (click)="onSetTheme('indigo-pink')">indigo-pink</button>
                    <button mat-menu-item (click)="onSetTheme('pink-bluegrey')">pink-bluegrey</button>
                    <button mat-menu-item (click)="onSetTheme('purple-green')">purple-green</button>
                </mat-menu>
                <img class="app-img" src="../assets/app-icon.png">
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
