<div class="login-container">
    <h3>Пожалуйста, введите свои данные для логина</h3>
    <mat-form-field class="login-text-input" appearance="outline">
        <mat-label>Email или логин</mat-label>
        <input matInput type="email" placeholder="Введите свой email адресс" [(ngModel)]="model.email" (keyup.enter)="login()">
    </mat-form-field>
    <mat-form-field class="login-text-input" appearance="outline">
        <mat-label>Пароль</mat-label>
        <input matInput type="password" placeholder="Введите свой пароль" [(ngModel)]="model.password" (keyup.enter)="login()">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="isRemember">Запомнить меня</mat-checkbox>
    <label *ngIf="isAuthError" class="login-error-label">Ошибка, неверный логин или пароль!</label>
    <div class="login-buttons">
        <button class="login-button" mat-raised-button color="primary" (click)="login()">Вход</button>
        <button class="login-button" mat-raised-button color="accent" routerLink="/registration">Регистрация</button>
    </div>
</div>
