<div class="setting">
    <div class="setting__about">
        <h3 class="user__about_label">Тут вы можете отредактировать данные своего профиля и фото для портфолио</h3>
        <div class="about-container">
            <div class="about-avatar">
                <mat-card class="user-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Мой профиль</mat-card-title>
                        <mat-card-subtitle>Фото для портфолио</mat-card-subtitle>
                    </mat-card-header>
                    <img *ngIf="portfolioUser.userDetails.photoLink === null" mat-card-image class="user-image" src="./assets/image/empty-profile-black.png" alt="">
                    <div *ngIf="portfolioUser.userDetails.photoLink !== null">
                        <img *ngFor="let file of photos | async" mat-card-image src="{{file}}" alt="">
                    </div>
                    <mat-card-content class="user-info">
                        <div *ngIf="currentFileUpload" class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                                 aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                                {{progress.percentage}}%</div>
                        </div>
                        <label class="btn btn-default">
                            <input type="file" name="file" (change)="selectFile($event)"/>
                        </label>
                        <button class="upload-button" mat-raised-button color="primary" [disabled]="!selectedFiles" (click)="upload()">Загрузить</button>
                        <button class="delete-button" mat-raised-button color="warn" (click)="deleteFile()">Удалить</button>
                        <p>
                            <label *ngIf="isError" class="uploaded-error-label">Произошла ошибка при загрузке файла!</label>
                            <label *ngIf="isEmpty" class="uploaded-error-label">Нечего удалять!</label>
                            <label *ngIf="isSuccessLoading" class="uploaded-success-label">Файл успешно загружен и сохранен!</label>
                            <label *ngIf="isLoading">Идет загрузка, пожалуйста подождите ...</label>
                            <label *ngIf="isSaving">Файл загружен, идет сохранение</label>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="about-settings">
                <div>
                    <mat-form-field class="setting-text-input" appearance="outline">
                        <mat-label>Имя</mat-label>
                        <input matInput type="search" placeholder="Введите имя" [(ngModel)]="loggedUser.userDetails.firstName">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="setting-text-input" appearance="outline">
                        <mat-label>Фамилия</mat-label>
                        <input matInput type="search" placeholder="Введите фамилию" [(ngModel)]="loggedUser.userDetails.lastName">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="setting-text-input">
                        <input matInput [matDatepicker]="picker" placeholder="Введите свою дату рождения" [(ngModel)]="birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <p>
                    <label *ngIf="isSuccess" class="uploaded-success-label">Данные сохранены!</label>
                </p>
                <label *ngIf="isAccountInfoDataNotCorrect" class="uploaded-error-label">Неккоректные данные!</label>
                <div class="filter-buttons">
                    <button class="save-button" mat-raised-button color="primary" (click)="saveUserInfo()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="setting__user">
        <h3 class="user__settings_label">Тут вы можете отредактировать информацию о себе</h3>
        <div>
            <mat-form-field class="setting-main-text-input" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Введите новый email адресс" [(ngModel)]="loggedUser.email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="setting-main-text-input" appearance="outline">
                <mat-label>Текущий Пароль</mat-label>
                <input matInput type="password" placeholder="Введите новый пароль" [(ngModel)]="loggedUser.password">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="setting-main-text-input" appearance="outline">
                <mat-label>Новый Пароль</mat-label>
                <input matInput type="password" placeholder="Введите новый пароль" [(ngModel)]="loggedUser.newPassword">
            </mat-form-field>
        </div>
        <div>
            <label *ngIf="isAccountDataNotCorrect" class="save-error-label">Ошибка, вы ввели неккоретные данные!</label>
            <label *ngIf="isSuccessAccountSaving" class="uploaded-success-label">Данные сохранены!</label>
        </div>
        <div class="user-control-buttons">
            <button mat-raised-button color="primary" (click)="saveAccount()">Сохранить</button>
            <button class="delete-user-button" mat-raised-button color="warn" (click)="deleteAccount()">Удалить аккаунт</button>
        </div>
    </div>
</div>


