<h1 mat-dialog-title class="modal-window-text-item">Загрузка</h1>
<div mat-dialog-content>
    <div class="uploaded-container">
        <h3 class="upload-container-item">Здесь вы можете загружать файлы</h3>
        <label class="btn btn-default">
            <input class="upload-container-item" type="file" name="file" (change)="selectFile($event)"/>
        </label>
        <div *ngIf="currentFileUpload" class="progress pb">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                 aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                {{progress.percentage}}%</div>
        </div>
        <span *ngIf="isSuccess" class="uploaded-success-label">Файл успешно загружен и сохранен!</span>
        <span *ngIf="isLoading">Идет загрузка, пожалуйста подождите ...</span>
        <span *ngIf="isSaving">Файл загружен, идет сохранение</span>
        <button class="upload-container-item" mat-raised-button color="primary" [disabled]="!selectedFiles" (click)="upload()">Загрузить</button>
        <button (click)="closePopup()" mat-raised-button color="warn">Закрыть</button>
    </div>
</div>
<div mat-dialog-actions class="modal-window-buttons">
</div>
