.portfolio {
}

.portfolio__card {

}

.portfolio__content {

}

.portfolio-text {
    margin: 10px ;
    text-align: center;
}

@media screen and (min-width: 481px) {
    .portfolio {
        display: flex;
        min-height: calc(100vh - 64px);
    }

    .portfolio__card {
        width: 30%;
    }

    .portfolio-text {
        margin: 10px ;
        text-align: start;
    }

    .portfolio__content {
        width: 70%;
    }
}
