<div class="parents">
    <div class="parents-text">
        <b>СОВЕТЫ УЧАСТНИКАМ ЕГЭ</b>
        <br>
        <br>
        <b>Советы родителям</b>
        <br>
        <br>
        Именно Ваша поддержка нужна выпускнику прежде всего. Зачастую родители переживают ответственные моменты в жизни своих детей гораздо острее, чем свои. Но взрослому человеку гораздо легче справиться с собственным волнением, взяв себя в руки.
        <br>
        <br>
        <b>Поведение родителей</b>
        <br>
        <br>
        В экзаменационную пору основная задача родителей - создать оптимальные комфортные условия для подготовки ребенка и... не мешать ему. Поощрение, поддержка, реальная помощь, а главное - спокойствие взрослых помогают ребенку успешно справиться с собственным волнением.
        Не запугивайте ребенка, не напоминайте ему о сложности и ответственности предстоящих экзаменов. Это не повышает мотивацию, а только создает эмоциональные барьеры, которые сам ребенок преодолеть не может.
        Очень важно скорректировать ожидания выпускника. Объясните: для хорошего результата совсем не обязательно отвечать на все вопросы ЕГЭ. Гораздо эффективнее спокойно дать ответы на те вопросы, которые он знает наверняка, чем переживать из-за нерешенных заданий.
        Независимо от результата экзамена, часто, щедро и от всей души говорите ему о том, что он (она) - самый(ая) любимый(ая), и что все у него (неё) в жизни получится! Вера в успех, уверенность в своем ребенке, его возможностях, стимулирующая помощь в виде похвалы и одобрения очень важны, ведь "от хорошего слова даже кактусы лучше растут".
        <br>
        <br>
        <b>Организация занятий</b>
        <br>
        <br>
        Очень важно разработать ребёнку индивидуальную стратегию деятельности при подготовке и во время экзамена. Именно индивидуальную, так как все дети разные (есть медлительные, есть очень активные, есть аудиалы, кинестетики, тревожные, есть с хорошей переключаемостью или не очень и т. д.)! И вот именно в разработке индивидуальной стратегии родители должны принять самое активное участие: помочь своим детям осознать свои сильные и слабые стороны, понять свой стиль учебной деятельности (при необходимости доработать его), развить умения использовать собственные интеллектуальные ресурсы и настроить на успех!
        Одна из главных причин предэкзаменационного стресса - ситуация неопределенности. Заблаговременное ознакомление с правилами проведения ЕГЭ и заполнения бланков, особенностями экзамена поможет разрешить эту ситуацию.
        Тренировка в решении пробных тестовых заданий также снимает чувство неизвестности.
        В процессе работы с заданиями приучайте ребёнка ориентироваться во времени и уметь его распределять.
        Помогите распределить темы подготовки по дням. Ознакомьте ребёнка с методикой подготовки к экзаменам (её можно подсмотреть в разделе "Советы выпускникам").
        Обеспечьте своему выпускнику удобное место для занятий, чтобы ему нравилось там заниматься!
        <br>
        <br>
        <b>Питание и режим дня</b>
        <br>
        <br>
        Позаботьтесь об организации режима дня и полноценного питания. Такие продукты, как рыба, творог, орехи, курага и т. д. стимулируют работу головного мозга. Кстати, в эту пору и "от плюшек не толстеют!"
        Не допускайте перегрузок ребенка. Через каждые 40-50 минут занятий обязательно нужно делать перерывы на 10-15 минут.
        Накануне экзамена ребенок должен отдохнуть и как следует выспаться. Проследите за этим.
        С утра перед экзаменом дайте ребёнку шоколадку... разумеется, это не баловство, а просто глюкоза стимулирует мозговую деятельность!
    </div>
</div>

