.uploaded-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.uploaded-error-label {
    color: red;
}

.upload-container-item {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

.pb {
    width: 300px;
    margin: 10px 10px 10px 10px;
}

.uploaded-success-label {
    color: green;
}

.modal-window-text-item {
    text-align: center;
}
