.students {
    display: flex;
    align-items: center;
    justify-content: center;
}

.students-text {
    margin: 10px;
    text-align: center;
}

@media screen and (min-width: 481px) {
    .students {
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .students-text {
        margin: 10px;
        text-align: start;
    }
}
