<div class="students">
    <div class="students-text">
        <b>Полезные ссылки:</b>
        <br>
        В этом разделе, перейдя по ссылкам, вы сможете найти множество различных
        ресурсов и материалов,которые могут оказаться полезными для вас и помочь
        вам в изучении такой не простой науки как математика:
        <br>
        <a href="http://alexlarin.net/" target="_blank">alexlarin.net</a>
        <br>
        <a href="http://funnymath.ru/" target="_blank">Занимательная математка</a>
        <br>
        <a href="http://www.math-on-line.com/olympiada-edu/zadachi-katalog-math.html" target="_blank">Учебные пособия</a>
        <br>
        <a href="http://olimpiada.ru/" target="_blank">Олимпиада</a>
        <br>
    </div>
</div>

